<div class="share-buttons">
  <a class="twitter-share-button"
     href="https://twitter.com/topal168/"
     title="Share on Twitter"
     data-url="{{ .Permalink }}"
     data-text="{{ .Title }}"><i class="fab fa-twitter"></i></a>

  <a class="youtube-share-button"
     href="https://www.youtube.com/channel/UCn0kzPvIugVXi7EknVdQaaQ"
     title="Share on Youtube"
     data-url="{{ .Permalink }}"
     data-text="{{ .Title }}"><i class="fab fa-youtube"></i></a>

  <a class="telegram-share-button"
     href="https://t.me/xinguwan"
     title="Share on Telegram"
     data-url="{{ .Permalink }}"
     data-text="{{ .Title }}"><i class="fab fa-telegram"></i></a>

  <a class="github-share-button"
     href="https://github.com/gitopal/"
     title="Share on Github"
     data-url="{{ .Permalink }}"
     data-text="{{ .Title }}"><i class="fab fa-github"></i></a>
</div>
